<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../vendor/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
  </head>
  <body ng-app="listaroo">
    <div ng-view></div>
    <script src="../vendor/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.min.js"></script>
    <script src="../app/app.js" type="text/javascript"></script>
    <script src="../app/services/listService.js" type="text/javascript"></script>
    <script src="../app/services/signUpService.js" type="text/javascript"></script>
    <script src="../app/services/sessionService.js" type="text/javascript"></script>
    <script src="../app/services/teamService.js" type="text/javascript"></script>
    <script src="../app/components/listBox.js" type="text/javascript"></script>
    <script src="../app/components/signUp.js" type="text/javascript"></script>
    <script src="../app/components/sessions.js" type="text/javascript"></script>
    <script src="../app/components/teambox.js" type="text/javascript"></script>
    <script src="../app/interceptors/authToken.js" type="text/javascript"></script>

  </body>
</html>
