<div class="main-container" id="list-index">
  <a href="" ng-click="logout()">Log Out</a>
  <div>{{listTitleStack.join(" > ")}}
  <h2 ng-show="!currentList.editing">{{currentList.title}}</h2>
  <input type="text" ng-show="currentList.editing" ng-model="currentList.title">
  <p ng-click="goBackToParent();" ng-show="parentListStack.length > 1">Back</p>
  <div id="list-controls">
    <a href="" ng-show="!currentList.editing && getCurrentListId() !== 0"ng-click="currentList.editing = true">Edit Title</a>
    <a href="" ng-show="currentList.editing"ng-click="currentList.editing = false; updateList(currentList);">Save</a>
    <a href="" ng-click="deleteList(currentList); goBackToParent()" ng-show="currentList.id !== 0">Delete list</a>
  </div>
  <ul id="list-list" ng-show="getCurrentListChildren().length > 0">
    <li ng-repeat="sublist in getCurrentListChildren()" class="list-title">
      <span ng-click="goToSubList(sublist)" ng-hide="sublist.editing">{{sublist.title}}</span>
      <input autofocus ng-change="sublist.editted = true;" ng-show="sublist.editing" type="text" ng-model="sublist.title">
      <a href="" ng-click="deleteList(sublist)">Delete</a>
      <a href="" ng-click="sublist.editing = true " ng-show=" !sublist.editing">Edit</a>
      <a href="" ng-click=" updateList(sublist); sublist.editing = false;" ng-show="sublist.editing">Save</a>
    </li>
  </ul>
  <h1 id="new-list-text">Add a new list here!</h1>
  <input type="text" id="new-list-title" ng-model="newestListTitle"><a href="" ng-click="addList(newestListTitle)">Add!</a>
</div>
