html, body {
  height: 100%;
  background-color: #EEEBBC;
  font-family: 'Open Sans', sans-serif;
  color: #EEEBBC;
}

.main-container {
  height: 100%;
}

a {
  color: currentColor;
}

a:visited {
  color: currentColor;
}

input {
  color: black;
}

list-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.flex {
  display: flex;
}

.inline {
  display: inline;
}

.error-messages {
  background-color: #FBB;
  color: #F22;
  border: 1px solid #F22;
  padding: 12px 12px 12px 40px;
  margin: 0;
  position: relative;
}

#clear-errors-button {
  position: absolute;
  top: 4px;
  right: 4px;
}

#clear-errors-button:hover {
  cursor: pointer;
  color: #F88;
}


/* Sidebar */

.team-sidebar {
  background-color: #005071;
  padding: 10px;
  width: 175px;
  flex-grow: 0;
}

.sidebar-heading {
  margin: 0 0 2px 0;
  text-decoration: underline;
}

#member-divider {
  margin: 5px 0 5px 0;
}

#invite-box {
  background-color: black;
  z-index: 99;
}

#invited-user-input {
  width: 125px;
}

#team-members {
  margin: 0px;
  list-style: none;
  padding: 0;
}

.invited-username:before {
  content:'';
  height: 1em;
  width: 1em;
  background-image: url('../img/kangaroo-hopping.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 1.5em;

}


/* TOP NAVIGATION BAR */

#top-banner {
  align-items: center;
  background-color: #00305B;
  height: 60px;
  padding: 10px;
  flex-grow: 0;
  justify-content: space-between;
}

#top-banner a {
  color: #EEEBBC;
}

#team-creator {
}

#team-name {
  margin: 0 20px 0 0;
  display: inline-block;
}

/* CONTENT AREA */
#content-area {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}


/* LIST AREA */

/* LIST INFO AREA */

#list-info {
  background-color: #FFFFFF;
  color: black;
  align-items: center;
  padding: 3px;
}

.list-button {
  font-size: 20px;
  margin-right: 10px;
}

.list-button:hover {
  color: #AAAAAA;
  cursor: pointer;
}

#list-info a {
  color: black;
}

#current-list-control * {
  height: 30px;
}

#current-list-title {
  display: inline;
  font-size: 20px;
  margin: 0 10px 0 0;
}

#list-breadcrumbs {
  padding-left: 20px;
}

/* LIST CONTENT AREA */

#list-area {
  width: 100%;
  background-color: #FCFCFC;
  color: #040404;
  position: relative;
}

.loading-veil {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.loading-spinner {
  position: absolute;
  top: 40%;
  left:50%;
}


#list-list {
  padding: 0;
  margin: 0;
  border-top: 1px solid black;
  width: 100%
}

/* LIST  ITEMS */

.sublist {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-content: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid #AAA;
}

.sublist-hover:hover {
  background-color: #333333;
  color: white;
  cursor: pointer;
}

.sublist-box {
  flex-grow: 1;
}

.sublist-title {
  height: 35px;
  line-height: 35px;
  display: inline-block;
  padding-left: 5px;
}

.list-controls {
  display: flex;
  align-items: center;
}

.list-control {
  margin-right: 10px;
}

#editted-list-title {
  width: 100%;
  flex-grow: 1;
}

.inline-list-entry {
  height: 35px;
  padding: 0px;
  flex-grow: 1;
}

#new-list {
  padding: 0;
  align-content: center;
}

#new-list-title {
  margin-right: 10px;
}

#add-new-list-button {
  line-height: 31px;
}

#new-list:hover {
  background-color: #FFFFFF;
  color: black;
}

.back-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.centered-container {
  width: 80%;
  background-color: #00305B;
  color: #EEEBBC;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
}


/* TEAM VIEW */

.team-delete:hover {
  cursor: pointer;
  color: #AAA;
}

.team-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.teambox {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0 20px 20px 20px;
  flex-grow: 1;
  position: relative;
}

.teambox .loading-veil {
  background-color: rgba(255,255,255,0);
}

#parent-teambox {
  color: black;
}

.team-listing {
  padding: 5px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

#new-team-name {
  flex-grow: 1;
  margin-right: 15px;
  padding: 5px;
}

#add-new-team-box {
  align-items: center;
}

.user-info {
  justify-content: space-between;
  align-items: center;
}

#team-info-box {
  padding-top: 0;
}

/* LOGIN AND SIGNUP */

.login-page-main-button {
  display: block;
  background-color: #005071;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  text-align: center;
  padding: 10px;
  width: 350px;
  color: white;
}

.login-page-main-button:hover {
  background-color: #207091;
  color: #EEEBBC;
}

.login-page-main-button:visited {
  color: white;
}

.centered-title {
  margin-bottom: 10px;
  text-align: center;
}

.login-page-field {
  width: 350px;
  display: block;
  padding: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}
